
.menyyriba {
    padding: 10px;
	padding-left: 0px
}

@media (min-width: 700px) {
    .menyy {
        flex-direction: row;
	}
}

@media (max-width: 700px) {
    .menyy {
        flex-direction: column; /* menyy tulp */
	}
}

.menyy {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
	display: flex; /* menyy riba */
    flex-wrap: wrap; /* kui aken läheb kitsamaks, siis paneb elemendid üksteise alla */
}

.menyy li {
    background: #EEEEEE;
    width: 9em;
    padding: 5px;
	
    /* flex-grow: 1; et menyy riba oleks kogu lehe pikkune */
    /* margin: 10px; menyy riba elementide vahed */
}

.menyy .valitud {
    background-color: blue;
}

.menyy a {
    color: blue;
    font-family: Arial, Sans-Serif;
    text-decoration: none;
}

.menyy a:hover {
    text-decoration: underline;
}

.menyy .valitud a {
    color: white;
}

.tabel {
    font-family: Arial, Sans-Serif;
    border-spacing: 0px;
}

.tabel caption {
    font-weight: bold;
    font-size: 110%;
}

.tabel td, .tabel th {
    border-top: 1px solid #AAAAAA;
    padding: 5px;
}

input[type="text"], input[type="password"] {
    font-family: Arial, Sans-Serif; /* kuna on sama font ja size, siis väljad on ühe pikkused, kui seda ei määraks, siis oleks erineva pikkusega */
    padding: 5px 10px;
    font-size: 13px;
    border: 1px dashed #AAAAAA;
	border-radius: 3px;
    width: 15em;
}

input[type="text"] {
    
}

input[type="password"] {
    
}

div.autor {
    position: absolute;
	right: 10px;
	bottom: 10px;
}
